.post-container
  list-style: none
  margin: 0
  padding: 0

  .additional-info-wrapper
    display: flex
    align-items: center

  &.thumbnail
    padding: 2em 1.5em
    gap: 2em 1.5em
    display: grid
    grid-template-columns: repeat(3, 1fr)

    .thumbnail-wrapper
      border-radius: 5px
      border: 1px solid var(--border-color--thumbnail)
      float: left
      padding: .25em 1em
      width: 90%

      .thumbnail
        height: calc((100vw - 18em) * 0.18)

  &.text
    display: grid
    grid-template-columns: repeat(4, 1fr)
    gap: 1em 1.5em

    li
      background: var(--background-color--post-container)
      border: 1px solid var(--border-color--post-container)
      padding: 2em 1.5em
      display: grid

      &.empty-post
        background: #fbfafa!important
        display: flex
        justify-content: center
        align-items: center
        font-size: 2em

        &:before
          content: '\f017'
          font-weight: 100
          opacity: .5
          font-family: var(--font-family--icon)


@media screen and (max-width: 768px)
  .post-container
    .empty-post
      display: none!important

    li
      margin-bottom: 2em
      &:last-child
        margin-bottom: 0

    &.thumbnail
      display: block

      .thumbnail-wrapper
        .thumbnail
          height: calc(100vw * 0.4)

      li
        width: 100%
        padding: 0


    &.text
      display: block
