@import 'base'

%badge
  padding:  .2em .5em
  border-radius: 5px
  font:
    style: normal
    size: .8rem
    weight: 500



.category-badge
  margin-block: 0
  padding: 0.25em .8em
  display: inline-block
  font:
    size: .8rem
    weight: 600
  @include color-background('secondary')
  @include color-text('white-darken-1')

.step-badge
  font-style: normal
  padding: .2em .55em
  font-size: .9rem
  border-radius: 5px
  @include color-text('grey')
  @include color-background('brown-lighten-1')


.badge
  &\:grey
    @extend %badge
    @include color-background('grey')

