@mixin button()
  padding: .5em 1em
  font-size: 0.8rem
  text-decoration: none
  opacity: .85

  &:hover
    opacity: 1


.button
  &-outline
    @include button()
    @include border--color($color--white)
    @include text--color($color--white)
    @include background--color($color--white, 0.3)

  &-fill
    @include button()
