@mixin card-list()
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-gap: 1.5em!important
  width: 100%

@mixin card-item()
  padding: 1em

  .thumbnail
    background-repeat: no-repeat
    background-color: white
    background-size: contain
    display: block
    color: transparent
    background-position: 50% 50%
    background-origin: border-box
    height: 172px


.card
  &-list
    @include card-list()

  &-item
    @include card-item()

    &\:category
      @include card-item()
      background-color: #ffffff
      border-radius: 15px
