@mixin card-item()
  .thumbnail
    height: 10em
    object-fit: cover

  @media screen and (max-width: 768px)
    &:not(:last-child)
      margin-bottom: 2em

@mixin card-list()
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-gap: 2em
  margin: 3em 20%

  @media screen and (max-width: 768px)
    display: block
    margin: 3em 10%

.card
  &-list
    @include card-list()

  &-item
    @include card-item()

    &\:overview
      @include card-item()
      background-color: #fff
      text-align: center
