@mixin card-item()
  .thumbnail
    height: 10em
    object-fit: cover

@mixin card-list()
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-gap: 2em

.card
  &-list
    @include card-list()

  &-item
    @include card-item()

    &\:overview
      @include card-item()
      background-color: #fff
      text-align: center
