@import 'base'


%code-block
  font-size: .9rem
  padding: .5em 1em
  @include color-background('black-lighten-1')
  @include color-text('white-darken-3')
  position: relative

  .highlight
    overflow: auto

    &::-webkit-scrollbar
      position: relative
      border-radius: 5px
      height: 8px
      @include color-background('white-darken-1', .05)

      &:hover
        opacity: 1

    &::-webkit-scrollbar-thumb
      border-radius: 10px
      @include color-background('white-darken-1', .88)


  &:before
    line-height: 2em
    position: absolute
    top: 0
    right: 0
    font-weight: bold
    padding: 0 1em
    font-size: .68em


.filename-badge
  @include color-background('black-lighten-1')
  @include color-text('white')
  padding: .2em 1.5em
  margin-block: 0
  font-size: .8rem
  display: inline-block
  border-bottom: none
  margin-bottom: -1px

  &:before
    @include icon('file')
    margin-right: .5em
    font-weight: 500

code
  font-family: $_font-code-block


.language
  &-plaintext
    @include color-background('white-darken-2')
    @include color-text('danger')
    padding: .4em .6em
    border-radius: 5px
    font:
      size: .9rem
      weight: 800

  &-markdown
    @extend %code-block

  &-text
    @extend %code-block

  &-html
    @extend %code-block
    &:before
      content: 'HTML'
      background: #dd4b24

    .cp, .nt
      color: #ffbf00

    .s
      color: #cddc39

  &-yaml
    @extend %code-block
    .na, .pi
      color: #ff5722
    .c1
      color: #4caf50

  &-javascript
    @extend %code-block
    &:before
      content: 'JAVASCRIPT'
      background: #f7df1e
      color: #423600

    .mi, .mf, .mi
      color: #42c4ff

    .kd, .k
      color: #ff8d38

    .kd + .nx
      color: #ffc107

    .p + .kd + .nx
      color: #dadcf3

    .cm, .c1
      color: #8fbf74

    .dl, .dl + .s1, .dl + .s2
      color: #709a59

    .nb + .p + .nx, .dl + .p + .nx
      color: #ffc107

    .p + .na
      color: #9d78e0
