@import 'base'

$_icon-contents: ('info': '\f05a', 'link': '\f0c1', 'book-mark': '\f02e', 'file': '\f15b', 'warning': '\f071')

@mixin icon($name)
  content: map-get($_icon-contents, $name)
  font:
    family: $_font-icon-default
    weight: bold
    size: inherit
