@import 'base'

header
  @include color-text('white')
  background: url('/static/images/background/primary-pattern.png')
  padding: .9em 20%
  position: sticky
  top: 0
  display: flex
  justify-content: space-between
  align-items: center
  z-index: 1

  @media screen and (max-width: 768px)
    padding: .9em 8%

  .title
    @include font(site-title)
    color: inherit
    margin-block: 0
    font-size: 1.5rem
    opacity: 1
