.layout
  &\:main
    .main
      min-height: 100vh
      background: linear-gradient(#01213c 69.8vh,  #ebf0f3 69.8vh)

    .logo
      fill: white
      width: 1.25em
      margin-bottom: -.2em

    .section
      &\:bi
        padding-top: 26vh

        .title
          margin-block: 0
          font-size: 4.125rem
          font-family: $font-family--site-title
          color: white
          text-align: center

        .description
          opacity: .85
          color: white
          font-family: $font-family--site-description
          text-align: center

      &\:overview
        @include section()
        position: absolute
        top: calc(69.8vh - 13em)


@media screen and (max-width: 768px)
  .layout
    &\:main
      .section
        &\:overview
          top: 52vh

