{% assign currentCategoryName = page.url | replace: '.html', '' | replace: '/', '' %}

{% capture categories %}
    {% for category in site.category %}
        {% assign additionalInfo = category | last %}
        {{ additionalInfo.priority }}|{{ category | first }}
    {% endfor %}
{% endcapture %}
{% assign sorted_categories = categories | split: ' ' | sort_reverse %}

<ul id="{{ include.id }}" class="category-container {{ include.class }}">
    {% for category in sorted_categories %}
    <li>
        {% assign arr = category | split: '|' %}
        {% assign categoryName = arr | last | downcase %}

        {% assign categoryClass = categoryName %}
        {% if currentCategoryName contains categoryName %}
            {% assign categoryClass = categoryClass | append: ' active' %}
        {% endif %}

        <a href="/{{ categoryName }}" class="{{ categoryClass }}">
            {{ categoryName | upcase }}
        </a>
    </li>
    {% endfor %}
</ul>
