

<div class="navigation-bar default">
    <a href="/search" class="icon search"></a>

    <section class="mt-3 body">
        <h1 class="title">
            <a href="/">{{ site.title }}</a>
        </h1>

        {% include category-list.html class="mt-3" %}
    </section>

    <section class="footer">
        <div class="profile-container">
            {% for account in site.account %}
                <a href="{{ account | last }}" target="_blank" >
                    <i class="account {{ profile | first }}"></i>
                </a>
            {% endfor %}
        </div>
    </section>
</div>

<div class="navigation-bar mobile">
    <div class="header">
        <a href="/search" class="icon search"></a>
        <h5 class="title">
            <a href="/">
                {{ site.title }}
            </a>
        </h5>
        <button id="btnToggleBar" type="button" class="btn-menu">
            <i class="fa fa-bars"></i>
        </button>
    </div>

    {% include category-list.html id="mobileCategoryContainer" %}
</div>

<script src="//code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript">
    (function($) {
        $(function() {
            bindEvent()
        })

        function bindEvent() {
            const $btnToggleBar = $('#btnToggleBar')
            $btnToggleBar.on('click', function() {
                const $categoryContainer = $('#mobileCategoryContainer')

                $categoryContainer.slideToggle()
            })
        }
    })(jQuery)
</script>
