<div class="navigation-bar default">
    <section class="mt-3">
        <h1 class="title">
            <a href="/">
                {{ site.title }}
            </a>
        </h1>

        <ul class="category-container mt-3">
            {% assign currentCategoryName = page.url | replace: '.html', '' | replace: '/', '' %}
            {% for category in site.categories %}
            <li>
                {% assign categoryName = category | first | downcase %}
                {% if currentCategoryName contains categoryName %}
                    <a href="/{{ categoryName }}" class="{{ categoryName }} active">
                        {{ category | first | upcase }}
                    </a>
                {% else %}
                    <a href="/{{ categoryName }}" class="{{ categoryName }}">
                        {{ category | first | upcase }}
                    </a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </section>
    <section class="footer">
        <div class="profile-container">
            {% for profile in site.profile %}
                <a href="{{ profile | last }}" target="_blank" >
                    <i class="icon {{ profile | first }}"></i>
                </a>
            {% endfor %}
        </div>
    </section>
</div>
<div class="navigation-bar mobile">
    <h5 class="title">
        <a href="/">
            {{ site.title }}
        </a>
    </h5>
    <!--    <button type="button" class="btn-menu">-->
    <!--        <i class="fa fa-bars"></i>-->
    <!--    </button>-->
</div>
