{% if paginator.total_pages > 1 %}
<div class="paginator {{ include.class }}">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}" class="page-link previous">
        <i class="fas fa-angle-left"></i>
    </a>
    {% endif %}


    {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <span class="current page-link">
                                    {{ page }}
                                </span>
    {% elsif page == 1 %}
    <a href="{{ '/' | prepend: currentCategory | relative_url }}"  class="page-link">
        {{ page }}
    </a>
    {% else %}
    <a href="{{ '/' | prepend: page | prepend: '/' | prepend: currentCategory | relative_url }}" class="page-link">
        {{ page }}
    </a>
    {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}" class="page-link next">
        <i class="fas fa-angle-right"></i>
    </a>
    {% endif %}
</div>
{% endif %}
