$_colors: ('white': #fff, 'black': #000, 'primary': #01213c, 'secondary': #DCA11D, 'accent': #364D6C, 'danger': #C1554E,  'grey': #eee)

@function getColor($name, $opacity: 1)
  $value: map-get($_colors, $name)
  @if $value == null or $value == ''
    $value: $name

  @return rgba($value, $opacity)


@mixin color-text($color-name, $opacity: 1)
  color: getColor($color-name, $opacity)

@mixin color-background($color-name, $opacity: 1)
  background-color: getColor($color-name, $opacity)

@mixin color-border($color-name, $opacity: 1)
  border:
    width: 1px
    style: solid
    color: getColor($color-name, $opacity)

@mixin color-dynamic($property-names...)
  @content
  @each $property-name in $property-names
    #{$property-name}: getColor('primary')

  @each $key, $value in $_colors
    &\:#{$key}
      @content
      @each $property-name in $property-names
        @if $property-name == 'border-color'
          @include color-border($value)
        @else
          #{$property-name}: $value

