@function getOrDefault($map, $key, $default-value)
  $value: map-get($map, $key)

  @if $value == null or  $value == ''
    @return $default-value
  @return $value


$_font-default-regular: (name: 'default', source-url: '//cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Regular.woff')
$_font-default-bold: (name: 'default', source-url: '//cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff', weight: bold)
$_font-site-title: (name: 'site-title', source-url: '//cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff')
$_font-site-description: (name: 'site-description', source-url: '//cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff')

$_fonts: (default-regular: $_font-default-regular, default-bold: $_font-default-bold, site-title: $_font-site-title, site-description: $_font-site-description)

@each $key, $value in $_fonts
  @font-face
    src: url(map-get($value, 'source-url')) format(getOrDefault($value, 'source-format', 'woff'))
    font:
      family: map-get($value, 'name')
      weight: getOrDefault($value, 'weight', normal)
      style: getOrDefault($value, 'style', normal)


@mixin font($name: 'default', $weight: normal, $style: normal)
  @if $name == 'icon'
    font:
      family: 'Font Awesome 5 Free'
      weight: bold
  @else
    font:
      family: $name
      weight: $weight
      style: $style

