body
  font-family: $font-family--default
  height: 100vh
  margin: 0
  background: $background-color--default
  color: $font-color--default

a
  color: $font-color--default
  text-decoration: none

img
  max-width: 100%

.container
  display: grid
  grid-template-columns: 18em auto

.contents-wrapper
  overflow: scroll
  padding: 3em 0

.mt-1
  margin-top: 1em!important

.mt-2
  margin-top: 2em!important

.mt-3
  margin-top: 3em!important

.mt-4
  margin-top: 4em!important

.mt-5
  margin-top: 5em!important

.thumbnail
  width: 100%
