.post-container
  .date
    color: $font-color--post-date
    font-size: .8em

  .category-badge
    color: $font-color--post-category-badge
    font-size: .75em
    font-weight: 600
    margin-right: .5em
    padding: .1em 1em
    background: $key-color--post-category

  .category
    color: $key-color--post-category
    font-size: .75em
    font-weight: 600

  .tag
    font-size: .88em
    color: $font-color--post-tag
    padding-left: .8em

    &:first-child
      padding-left: 0
