.container
  &.main, &.post-list
    ul
      list-style: none
      padding: 0

    section
      .post-container
        position: relative

        .additional-info-wrapper
          display: flex
          align-items: center

        .divider
          padding-left: .05em
          padding-right: .2em

          &:before
            content: '\00B7'

        &.thumbnail
          background: var(--background-color--post-container)
          border: 1px solid var(--border-color--post-container)
          padding: 2em 1.5em

          display: flex

          .thumbnail-wrapper
            .thumbnail
              height: calc((100vw - 18em) * 0.18)

          li
            width: 32%
            padding-left: 2em

            &:first-child
              padding-left: 0

        &.text
          display: grid
          grid-template-columns: 25% 25% 25% 25%

          li
            background: var(--background-color--post-container)
            border: 1px solid var(--border-color--post-container)
            border-radius: 5px
            padding: 2em 1.5em
            margin-right: 1.5em
            margin-bottom: 1em

            &:nth-child(4)
              margin-right: 0

@media screen and (max-width: 768px)
  .container
    &.main, &.post-list
      section
        .post-container
          &.thumbnail
            display: block

            .thumbnail-wrapper
              .thumbnail
                height: calc(100vw * 0.4)

            li
              width: 100%
              padding-left: 0
              padding-top: 2em

              &:first-child
                padding-top: 0

          &.text
            display: block
