.container
  &.main, &.post-list, &.search
    ul
      list-style: none
      padding: 0

    section
      &.tag-section
        .tag-container
          background: var(--background-color--post-container)
          border: 1px solid var(--border-color--post-container)
          padding: 2em 1.5em

          .tag
            position: relative
            float: left
            margin-inline-end: 1em
            margin-block-end: .8em
            padding: .4em 1.2em
            border: 1px solid #fefefe
            border-radius: 15px
            background: var(--background-color--emphasis-tag)
            font-size: .9em


            &:before
              content: attr(data-count)
              top: 5px
              right: 10px
              position: absolute
              font-size: .7em
              font-weight: bold
              color: var(--font-color--emphasis-tag-count)

      .post-container
        position: relative

        .category-badge
          display: table
          margin-right: auto

        .additional-info-wrapper
          display: flex
          align-items: center

        .divider
          padding-left: .05em
          padding-right: .2em

          &:before
            content: '\00B7'

        &.thumbnail
          background: var(--background-color--post-container)
          border: 1px solid var(--border-color--post-container)
          padding: 2em 1.5em
          display: grid
          grid-template-columns: 1fr 1fr 1fr

          .thumbnail-wrapper
            .thumbnail
              height: calc((100vw - 18em) * 0.18)

          li
            padding-inline-end: 2em
            margin-top: 3em

            &:nth-child(-n+3)
              margin-top: 0

        &.text
          display: grid
          grid-template-columns: repeat(4, 1fr)

          li
            background: var(--background-color--post-container)
            border: 1px solid var(--border-color--post-container)
            border-radius: 5px
            padding: 2em 1.5em
            margin-right: 1.5em
            margin-bottom: 1em
            display: grid

            &:nth-child(4)
              margin-right: 0



@media screen and (max-width: 768px)
  .container
    &.main, &.post-list
      section
        .post-container
          &.thumbnail
            display: block

            .thumbnail-wrapper
              .thumbnail
                height: calc(100vw * 0.4)

            li
              width: 100%
              padding: 0
              margin-bottom: 2em

              &:last-child
                margin-bottom: 0

          &.text
            display: block
