.container
  &.post-detail
    text-align: center

    .contents-wrapper
      padding-left: 18%
      padding-right: 18%

    .post-content
      text-align: left
      color: var(--font-color--post-content)

      h1, h2, h3, h4, h5
        margin-block-start: 3em

      h1
        font-size: 1.5em

      h2
        font-size: 1.3em

      h3
        font-size: 1.1em

      h4
        font-size: 1em

      h5
        font-size: 0.85em

      a
        text-decoration: underline

      p
        margin-block-start: .5em
        margin-block-end: .5em
        line-height: 2em

      table
        width: 100%
        border-spacing: 0
        border: 1px solid #eee
        border-width: 1px 1px 0 1px

        th, td
          padding: 1em
          border: 1px solid #eee
          border-width: 0 0 1px 1px

          &:first-child
            border-left-width: 0

        th
          background: #f7f6f5

        td
          background: #fff
          font-size: .9em

        tr
          border: 1px solid red

    .thumbnail
      border-radius: 0

    .footnote
      font-size: .8em
      font-weight: bold
      color: #2196f3
      vertical-align: super
      margin-inline-end: .5em
      text-decoration: none!important

    .footnote-desc
      opacity: .8
      margin-left: 1em

      .number
        margin-right: .3em

    code
      line-height: 2em

    div
      &[class^=language]
        background: var(--background-color--file)
        border: 1px solid #eee
        padding: .8em 0
        color: #dadcf3
        overflow: auto
        border-top: 0
        position: relative

      .language-plaintext
        font-weight: bold
        margin: 0 .2em
        color: #5d696d
        font-size: .9em
        font-family: var(--font-family--default)
        background: #efefef
        padding: .2em .5em
        border-radius: 5px

      &:before
        position: absolute
        top: 0
        right: 0
        font-weight: bold
        padding: .18em 1em
        font-size: .68em

      .language-yaml
        .na, .pi
          color: #ff5722
        .c1
          color: #4caf50

      .language-html
        &:before
          content: 'HTML'
          background: #dd4b24

        code
          line-height: 1em

        .cp, .nt
          color: #ffbf00

        .s
          color: #cddc39

      .language-java
        &:before
          content: 'JAVA'
          background: #3b7bbe

        .no
          color: #9b80ce
          font-style: italic

        .c1, .cm
          color: #8fbf74

        .kd, .k, .kt, .kn
          color: #ff8d38

        .nf
          color: #ffc107

        .mi, .mf, .mi
          color: #42c4ff

        .s, .sc
          color: #709a59

      .language-javascript
        &:before
          content: 'JAVASCRIPT'
          background: #f7df1e
          color: #423600

        .mi, .mf, .mi
          color: #42c4ff

        .kd, .k
          color: #ff8d38

        .kd + .nx
          color: #ffc107

        .p + .kd + .nx
          color: #dadcf3

        .cm, .c1
          color: #8fbf74

        .dl, .dl + .s1, .dl + .s2
          color: #709a59

        .nb + .p + .nx, .dl + .p + .nx
          color: #ffc107

        .p + .na
          color: #9d78e0

      .filename-badge + [class^=language]
        &:before
          content: ''

    .stepper
      .title
        &:before
          content: attr(data-step)
          border-radius: 5px
          background: var(--background-color--stepper-title)
          padding: .15em .55em
          font-size: .8em
          margin-right: .5em
          color: var(--font-color--post-step-title)

    .file-wrapper
      .filename-badge
        font-size: .8em
        color: #fff
        background: var(--background-color--file)
        margin: 0
        display: inline-block
        padding: .5em 1em
        border: 1px solid #eee
        border-bottom: none
        margin-bottom: -1px

        &:before
          font-family: var(--font-family--icon)
          content: '\f15b'
          margin-right: .5em

    .warning
      font-size: .78em
      color: var(--font-color--post-warning)

      &:before
        font-size: 1.3em
        font-family: var(--font-family--icon)
        content: '\f071'
        margin-right: .5em
        font-weight: 900
        color: #f7c93f

    .info
      font-size: .78em
      color: var(--font-color--post-info)

      &:before
        font-size: 1.3em
        font-family: var(--font-family--icon)
        content: '\f05a'
        margin-right: .5em
        font-weight: 900

    blockquote
      margin: 0
      background: var(--background-color--blockquote)
      border: 1px solid #fefefe
      padding: .5em 1.5em
      font-size: .9em
      border-left: 4px solid var(--key-color--default)
      overflow: auto

      a
        color: #2196f3
        font-size: .9em

    &.text
      .thumbnail
        width: 70%

    .book-cover
      border: 2px solid #d4cece
      width: 42%

    .book-evaluation-wrapper
      display: grid
      grid-template-columns: .85fr 1fr

      .title
        text-align: right
        padding-right: .5em
        margin: 0
        font-weight: bold
        font-size: .95em
        opacity: .8

    .rating-container
      display: flex
      align-items: center
      padding-left: .5em

      .rating
        font-family: var(--font-family--icon)
        color: #f3e3a5

        &.full
          font-weight: 900
          color: #f1c40e

        &:before
          content: '\f005'



@media screen and (max-width: 768px)
  .container
    &.post-detail
      &.text
        .thumbnail
          width: 100%

      .contents-wrapper
        padding-left: calc(var(--padding--contents-wrapper-x) / 2)
        padding-right: calc(var(--padding--contents-wrapper-x) / 2)
