[class^=post-]
  .date
    color: var(--font-color--post-date)
    font-size: .8em

  .category-badge
    color: var(--font-color--post-category-badge)
    font-size: .75em
    font-weight: 600
    margin-right: .5em
    padding: .1em 1em
    background: var(--key-color--default)

    &.brown
      background: var(--color-brown)

  .category
    color: var(--key-color--default)
    font-size: .75em
    font-weight: 600

    &.brown
      color: var(--color-brown)

  .tag-container
    .tag
      float: left

  .tag
    font-size: .88em
    color: var(--font-color--post-tag)
    padding-inline-end: .8em

