// font-family
$font-family--default: 'InfinitySans'

// background color
$background-color--default: #fffcf9
$background-color--navigation-bar: #f67e7e
$background-color--main-section: #ffffffbd
$background-color--main-post-badge: #dcd0c5

// font color
$font-color--nav-title: #fffcf9
$font-color--nav-category: #fffffff7
$font-color--nav-profile-link: #fffaf5bd
$font-color--default: #291919
$font-color--main-post-date: #736b63
$font-color--main-post-tag: #635d56
$font-color--main-post-badge: #6b6055

// border color
$border-color--thumbnail: #0000000d

// padding
$padding--contents-wrapper-x: 3em
$padding--contents-wrapper-y: 2em
