// font-family
$font-family--default: 'InfinitySans'

// background color
$background-color--default: #fffefe
$background-color--nav: #f86041
$background-color--post-container: #ffffff

// font color
$font-color--default: #23190f
$font-color--nav-title: #fff
$font-color--nav-category: #fffffff7
$font-color--nav-profile-link: #fffaf5bd
$font-color--section-title: #3a250f

$font-color--post-date: #757069
$font-color--post-tag: #67635d
$font-color--post-category-badge: #fff

// border color
$border-color--thumbnail: #eee
$border-color--post-container: #f5f5f5

// padding
$padding--contents-wrapper-x: 3em
$padding--contents-wrapper-y: 2em

// key color
$key-color--post-category: #ffa646
$key-color--post-container: #ffa646
