<!DOCTYPE html>
<html lang="en">
    {% include head.html %}

    <body class="layout:main">
        <main class="main">
            <section class="section:bi">
                <h1 class="title">
                    {{ site.title }}
                    {% include logo.html %}
                </h1>
                <p class="description">{{ site.description }}</p>
            </section>

            <div class="section:overview">
                <div class="card-list">
                    {% for category in site.categories reversed %}
                        <div class="card-item:overview">
                            <img src="{{ '/static/images' | relative_url }}/category/{{category.first}}.png" class="thumbnail"/>
                            <h3>{{ category.first | upcase }}</h3>

                            <a href="/{{ category.first }}" class="btn-outline:yellow mb-3">View ALL</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </main>
    </body>
</html>
