<!DOCTYPE html>
<html lang="en">
    {% include head.html %}

    <body class="{{ site.theme_color }} theme {{ page.layout }} container">
        {% include navigation-bar.html %}

        <div class="contents-wrapper">
            <section>
                <h2 class="section-title">Latest Posts</h2>
                <ul class="post-container thumbnail">
                    {% for post in site.posts limit: 6 %}
                        <li>
                            <a href="{{ post.url }}" class="thumbnail-wrapper mb-1">
                                <img src="{{ post.thumbnail | relative_url }}"
                                    class="thumbnail"
                                    onerror="this.src='{{ '/static/images/default--unknown-thumbnail.png' | relative_url }}';this.style='object-fit:cover'"
                                >
                            </a>

                            <div class="additional-info-wrapper mb-1 clear-fix">
                                {% include category-link.html categories=post.categories class="category-text" %}

                                <i class="divider"></i>
                                <p class="post-date">{{ post.date | date: "%Y.%m.%d " }}</p>
                            </div>

                            <a href="{{ post.url }}">{{ post.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </section>

            <section class="tag-section mt-3">
                <h2 class="section-title">Tags</h2>

                <div class="tag-container section-contents">
                    {% capture tags %}
                        {% for tag in site.tags %}
                            {{ tag | last |size }}|{{ tag | first }}
                        {% endfor %}
                    {% endcapture %}

                    {% assign sorted_tags = tags | split:' ' | sort %}
                    {% for tag in sorted_tags reversed %}
                        {% assign arr = tag | split: '|' %}
                            {% capture tag_size %}{{ arr[0] }}{% endcapture %}
                            {% capture tag_name %}{{ arr[1] }}{% endcapture %}

                            <a href="/search?q={{ tag_name }}" class="tag" data-count="{{ tag_size }}">
                                {{ tag_name }}
                            </a>
                    {% endfor %}
                </div>
            </section>
        </div>
    </body>
</html>
