---
layout: default
type: post-detail
---

<div class="content-wrapper">
    <div class="post-header">
        <p class="category-badge">{{ page.category | upcase }}</p>
        <h2>{{ page.title }}</h2>

        <div>
            <span class="additional-info:primary">{{ page.sub_category }} ·</span>
            <span class="additional-info:secondary">{{ page.date | date: '%Y' }}</span>
        </div>
    </div>

    <article class="mt-10 mb-12 post-contents {{ page.category }}">
        {{ page.content }}
    </article>

    <div class="tag-container">
        {% for tag in page.tags %}
            <a href="/" class="button-text mr-1">
                # {{ tag }}
            </a>
        {% endfor %}
    </div>
</div>
