<!DOCTYPE html>
<html lang="en">
    {% include head.html %}

    <body class="layout:post-list">
        {% include header.html %}

        <main>
            <section>
                <h3>{{ page.category }}</h3>

                <div class="card-list">
                    {% for post in site.categories[page.category] %}
                    <div class="card-item">
                        {{ post.title }}
                    </div>
                    {% endfor %}
                </div>
            </section>
        </main>

        {% include footer.html %}
    </body>
</html>
