<!DOCTYPE html>
<html lang="en">
    {% include head.html %}

    <body class="page-post-list">
        {% include layout/header.html %}

        <main style="">
            <h3>
                {{ page.category | upcase }}

                {{ site.categories[page.category].size }}
            </h3>

            <div class="card-list">
                {% for post in site.categories[page.category] %}
                    <div class="card-item">
                        {{ post.title }}
                    </div>
                {% endfor %}
            </div>
        </main>

        {% include layout/footer.html %}
    </body>
</html>
