<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body class="{{ site.theme_color }} theme {{ page.layout }} container">
        {% include navigation-bar.html %}

        <div class="contents-wrapper">
            <form type="submit" action="/search" class="search-input-wrapper">
                <input id="searchInput" type="text" name="q" placeholder="Enter a keyword" />
                <button type="submit" class="btn-search"></button>
            </form>

            <section id="postSection" class="mt-2 post-section"></section>
        </div>
    </body>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/underscore@1.13.1/underscore-umd-min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/mindcloud92/dddd.static-search@main/src/static/js/dddd.static-search.js"></script>
    <script type="text/javascript">
        window.onload = () => {
            dddd.static.Search.renderResult({
                data: getAllPost()
            })
        }

        function getAllPost () {
            return [
                {% for post in site.posts %}
                    {% assign firstCategory = post.categories | first %}
                    {
                        "title": "{{ post.title | xml_escape }}",
                        "categories": [{% for category in post.categories %} "{{ category }}" {% unless forloop.last %},{% endunless %} {% endfor %}],
                        "content": {{ post.content | strip_html | strip_newlines | jsonify }},
                        "tags": [{% for tag in post.tags %} "{{ tag }}" {% unless forloop.last %},{% endunless %} {% endfor %}],
                        "date": "{{ post.date | date: '%FT%TZ' }}",
                        "url": "{{ post.url | xml_escape | relative_url }}",
                        "categoryColorClass": "{{ site.category-color-class[firstCategory] }}"
                    }
                {% unless forloop.last %},{% endunless %}
                {% endfor %}
            ]
        }
    </script>
    <script id="template-post-list" type="text/template">
        <% if (_.size(data) > 0) { %>
            <h5 class="mt-2 mb-2">
                Total <b class="post-count"><%= _.size(data) %></b>
            </h5>

            <ul class="post-container mt-2">
                <% _.each(data, (v, i) => { %>
                    <li>
                        <div>
                            <div class="additional-info-wrapper mb-1">
                                <% const category = v.categories[0].toUpperCase() %>
                                <a href="/<%= category %>" class="category-text ma-0 <%= v.categoryColorClass %>">
                                    <%= category %>
                                </a>
                                <i class="divider"></i>
                                <p class="post-date ma-0">
                                    <%= formatDate(v.date) %>
                                </p>
                            </div>

                            <a href=<%= v.url %>>
                                <p class="title mb-half"><%= v.title %></p>
                                <p class="contents"><%= v.content %></p>
                            </a>
                        </div>

                        <div class="mt-2  mb-2 tag-container">
                            <% _.each(v.tags, (t, j) => { %>
                                <a href="/search?q=<%= t %>" class="tag"># <%= t %></a>
                            <% }) %>

                            <div class="clear-fix"></div>
                        </div>
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
            <p class="empty-text">Empty results</p>
        <% } %>
    </script>
</html>
